.pc-container {
    width: 60%;
    min-width: 340px;
    background: var(--gradn);
    padding: 2rem;
    margin: 50px auto;
    border-radius: 10px;
    justify-content: center;

    h2 {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--pri);
    }

    input,
    textarea {
        width: 100%;
        border-style: none;
        height: 40px;
        border-radius: 4px;
        margin: 5px auto;
        padding: 10px;
        resize: vertical;
        font-size: 1.2rem;
    }

    >div p {
        font-size: 1.2rem;
    }

    textarea {
        transition: 0s;
        height: 100px;
    }
}

.pc {
    align-items: center;
    justify-content: center;
}